<div class="container mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <span onclick='document.getElementById("mySidenav").style.width = "12rem";'><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
                        <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/></svg></span>
                
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick='document.getElementById("mySidenav").style.width = "0px";'>&times;</a>
            <%= link_to 'Home', "/main" %>
            <a class='color-light'><%= Current.usuario.nome %></a>
            <%= link_to 'Github', "https://github.com/lucianowayand/Sagas" %>
            <%= link_to 'Sair', logout_path, method: :delete %>
        </div>

        
            </div>
            <div class="col", style="text-align: right;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/></svg>
            </div>
        </div>
    </div>
    <div class="container mt-5 pd-5 pt-5">
        <div class="mt-5 container text-center" style='border-radius:5rem;height:18rem;width:18rem;background:white;position:absolute;transform:translate(0.8rem,-6rem);-webkit-box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.3); box-shadow: 0px 5px 20px 10px rgba(0,0,0,0.3);'>
         <%= form_with model: @produto, url:add_estoque_path do |form| %>
            <div class="mb-4">
                <%= form.text_field :nome, placeholder:"Nome" %>
            </div>
            <div class="mb-4">
                <%= form.number_field :quantidade, in: 1.0..20.0, step: 1, placeholder:"Quantidade" %>
            </div>
            <div class="mb-4">
                <%= form.text_field :tipo, placeholder:"Tipo" %>
            </div>
            <div class="mb-4">
                <%= form.label :validade, "Vencimento:" %>
                <%= form.date_field :validade %>
            </div>
            
        </div>
        <div class="tela-1 pt-5 pd-5 mt-5 container text-center" style='border-radius:5rem;height:20rem;width:18rem;'>
            <div class="mb-4", style="padding-top: 10rem;">
                <%= form.submit "Adicionar", class:"btn btn-light w-50 mt-4", style:"border-radius:10px;color:var(--c1)"%>
            </div>
            <% end %>
        </div>
    
    
</div>

